<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyJDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/DatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmp</display-name>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>AddEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/AddEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelEmp</display-name>
    <servlet-name>DelEmp</servlet-name>
    <servlet-class>DelEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelEmp</servlet-name>
    <url-pattern>/DelEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
</web-app>